// Place all the styles related to the Costumes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.out {
  background-color: #98c2ff;
}

.lost {
  background-color: #ffa298;
}

.pull_right{
  float:right;
}
